@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  --ebony: #0F0820;
  --eggplant: #1D103E;
  --meteorite: #371F76;
  --chartreuse-yellow: #E1FF00;
  --card-gradient: linear-gradient(180deg,rgba(29, 16, 62, 1) 25%, rgba(78, 43, 164, 1) 100%);
  --modal-gradient: linear-gradient(180deg,rgba(15, 8, 32, 1) 18%, rgba(55, 31, 118, 1) 83%);
  
}

.card-gradient {
  background-image: var(--card-gradient);
}

.modal-gradient {
  background-image: var(--modal-gradient);
}

.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  min-height: 100vh;
  background-color: var(--ebony);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}