@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  --ebony: #0F0820;
  --eggplant: #1D103E;
  --meteorite: #371F76;
  --chartreuse-yellow: #E1FF00;
  --card-gradient: linear-gradient(180deg,rgba(29, 16, 62, 1) 25%, rgba(78, 43, 164, 1) 100%);
  --modal-gradient: linear-gradient(180deg,rgba(15, 8, 32, 1) 18%, rgba(45, 20, 105, 1) 83%);
  --divider-gradient: linear-gradient(180deg,rgba(225, 255, 0, 0) 0%, rgba(225, 255, 0, 1) 50%, rgba(225, 255, 0, 0) 100%);
  --container-gradient: linear-gradient(90deg,rgba(45, 20, 105, 0) 0%, rgba(45, 20, 105, 0.81) 20%, rgba(45, 20, 105, 1) 30%, rgba(45, 20, 105, 1) 50%, rgba(45, 20, 105, 1) 70%, rgba(45, 20, 105, 0.81) 80%, rgba(45, 20, 105, 0) 100%);
  
}

.card-gradient {
  background-image: var(--card-gradient);
}

.modal-gradient {
  background-image: var(--modal-gradient);
}

.container-gradient {
  background-image: var(--container-gradient);
}

.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-text {
  font-size: 10px;
}

.button-text {
  font-size: 10px;
  font-weight: 600;
}

.small-text {
  font-size: 7px;
}

.card-divider {
  width: 1px;
  background-image: var(--divider-gradient);
}

body {
  min-height: 100vh;
  min-height: 100vh;
  background-color: var(--ebony);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}